.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    

    background: linear-gradient(to right, #ff7e5f, #d8363a, #dd3675, #b44593);
}
.gradient-custom-1 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    background: linear-gradient(to right, #ff7e5f, #ff6bcb);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


body {
    font-family: Arial, sans-serif;
}
/*#trai {
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url(../img/background1.png);
    background-size: 100%;

}
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}*/

/*phai*/
.machines{
    display: grid;
    grid-template-columns: repeat(3,1fr); /*So luong cot*/
    gap: 10px; /* Khoảng cách giữa các cột */
}

/* Tùy chỉnh để hiển thị dropdown khi rê chuột */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* Đảm bảo menu xuất hiện sát bên dưới */
}
.dropdown-menu{
    position: absolute;
    right: -5px;
}