body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*main*/
.list-machines{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Khoảng cách giữa các cột */
    width: 100%;
}

.machine {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 420px;
    text-align: center;
    transition: transform 0.3s ease;
}

.machine:hover {
    transform: translateY(-5px);
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #343a40;
}

label {
    font-size: 15px;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    color: #495057;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 15px;
    background-color: #f8f9fa;
    color: #495057;
}

input[type="text"]:disabled {
    background-color: #e9ecef;
}

.status {
    margin-bottom: 25px;
    font-size: 16px;
    color: #6f42c1;
    font-weight: 600;
}

.config-section {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
    color: #343a40;
    border-bottom: 2px solid #E95420;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-group button {
    padding: 10px 25px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    background-color: #E95420;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-group button:hover {
    opacity: 0.7;
    box-shadow: 0 2px 6px rgba(0, 123, 255, 0.3);
}

.footer-links {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: #6f42c1;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #5a32a0;
    text-decoration: underline;
}

/*end main*/
.machines{
    display: grid;
    grid-template-columns: repeat(3,1fr); /*So luong cot*/
    gap: 10px; /* Khoảng cách giữa các cột */
}

